.container{
  position: relative;
  top:50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;



   .card{
    width: 8rem;
    position: relative;
    }
  }

  .info{
    position: absolute;
    top: 10px;
  }

  img{
    width: 100%;
    cursor: pointer;
    border-radius: 2px;
  }
